*{
    margin: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    background-color: black;
    height: 70px;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 3rem;
}
.bar{
    align-items: center;
}
.navbar a{
    color: white;
    margin: 1rem;
    
}
.section{
    height: 400px;
    background-color: black;
    justify-content: space-between;
    display: flex;
}
.content{
    color: white;
    margin-right: 40%;
    margin-top: 5rem;
    
}

.photo{
    background-image: url("hero.jpg");
    height: 300px;
    width: 20%;
    background-size: cover;
    margin-left: 18%;
    margin-top: 3rem;
}
.section2{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
}
.img{
    margin-top: 1rem;
    margin-left: 45%;
    font-size: 2rem;
    color: white;
}
.cont{
    margin-top: 1.3rem;
    margin-left: 1rem;
    color: white;
}
.ccsu{
    background-image: url("cssulogo.jpeg");
    background-size: cover;
    height: 53px;
    width: 3.5%;
    margin-top: 2rem;
    margin-left: 28%; 
}
.section3{
    display: flex;
    background-color: black;
    height: 150px;
}
.cont1{
    color: white;
    margin-top: 2rem;
    margin-left: 3rem;
}
.section4{
    display: flex;
    background-color: black;
    height: 150px;
}
.section5{
    display: flex;
    background-color: black;
    height: 150px;
}
.parasi{
    background-image: url("dav-public-school.jpg");
    background-size: cover;
    height: 53px;
    width: 3.5%;
    margin-top: 2rem;
    margin-left: 28%; 
}
.bina{
    background-image: url("dav-public-school.jpg");
    background-size: cover;
    height: 53px;
    width: 3.5%;
    margin-top: 2rem;
    margin-left: 28%; 
}
.section6{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
}
.section7{
    background-color: black;
    
}
.skill{
    color: white;
}
ol{
    margin-left: 28%;
}

.section8{
    display: flex;
    height: 100px;
    background-color: black;
    align-items: center;
}
.section9{
    display: flex;
    background-color: black;
}
.project{
    background-image: url("amazonclone.jpeg");
    height: 185px;
    width: 21%;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
    border-bottom-left-radius: 0.85rem;
    border-bottom-right-radius: 0.85rem;
    margin-left: 20%;
    
}


@media screen and (max-width: 600px)
{
    h2{
        font-size: 15px;
    }
    .navbar a{
        color: white;
        margin: 0.5rem;
        font-size: 10px;
        
    }
    .logo{
        margin-left: 1rem;
    }
    .section{
        height: 200px;
        background-color: black;
        justify-content: space-evenly;
        display: flex;
    }
    pre{
        font-size: 5px;
        margin-top: 10%;
        margin-left: 70%;
    }
    .photo{
        background-image: url("hero.jpg");
        height: 80px;
        width: 15%;
        background-size: cover;
        margin-left: 20px;
        margin-top: 5rem;
    }
    .ccsu{
        background-image: url("cssulogo.jpeg");
        background-size: cover;
        height: 50px;
        width: 20%;
        margin-top: 2rem;
        margin-left: 18%; 
    }
    .section3{
        display: flex;
        background-color: black;
        height: 150px;
    }
    .cont1{
        color: white;
        margin-top: 2rem;
        margin-left: 3rem;
        font-size: 10px;
    }
    .parasi{
        background-image: url("dav-public-school.jpg");
        background-size: cover;
        height: 50px;
        width: 20%;
        margin-top: 2rem;
        margin-left: 18%; 
    }
    .bina{
        background-image: url("dav-public-school.jpg");
        background-size: cover;
        height: 50px;
        width: 20%;
        margin-top: 2rem;
        margin-left: 18%; 
    }
    .img{
        margin-top: 1rem;
        margin-left: 37%;
        font-size: 2rem;
        color: white;
    }
    .skill{
        font-size: 80%;
    }
    .project{
        background-image: url("amazonclone.jpeg");
        height: 100px;
        width: 50%;
        border-top-left-radius: 0.85rem;
        border-top-right-radius: 0.85rem;
        border-bottom-left-radius: 0.85rem;
        border-bottom-right-radius: 0.85rem;
        margin-left: 30%;
        
    }
    
    
}